/*--------- BLOG PAGE STYLING -----------*/



.blogHeading {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ff6600;
}


.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
  margin-bottom: 30px;
  
  padding: 11px;
}

.Blogcard {
  width: 380px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.Blogcard:hover {
  transform: scale(1.025);
}

.BlogCardimg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.BlogCardContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.BlogCardHeading {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.BlogCardDescription {
  margin-bottom: 16px;
  line-height: 23px;
  color: #555;
}

.BlogBtn {
  background-color: rgb(1,146,116);
  color: #fff;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.BlogBtn:hover{
  background-color: rgba(1, 146, 117, 0.862);
}


/* Author Box */

.BlogAuthorBox{
  margin-top: 50px;
  max-width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  align-self:center;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  
  gap: 20px;
  background-color:#ff660019;

  .AuthorImage{
    
    border: solid 1px rgb(255, 255, 255);
    
  }
}
.AuthorBio{
  display: flex;
  flex-direction: column;
  gap: 10px;

  .AuthorName{
    font-size: x-large;
    font-weight: bolder;
  }
}

.AuthorSocials{
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 5px;
}
.AuthorSocialsButtons{
  cursor: pointer;
}


/* Responsive Styles */
@media screen and (max-width: 600px) {
  .Blogcard {
    width: 100%;
  }

  .BlogAuthorBox{
    flex-direction: column;
  }

  .AuthorImage{
    align-self: center;
  }
}

@media screen and (max-width: 1200px) {
  .cardsContainer {
    width: 100%;
  }
  .Blogcard{
    width: 300px;
  }
}


  /*--------- PARTICULAR BLOG PAGE STYLING -----------*/

.BlogContainer{
    margin: 120px 150px;
}

.BlogHeading{
    color: #ff6600;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.BlogImage{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.BlogImage Image{
    border-radius: 10px;
    background-color: rgb(36, 35, 35);
}

.BlogDescription{
    margin: 10px;
}

.BlogDescription p{
    line-height: 25px;
    font-size: 16px;
    text-align: start;
}

.BlogDescription ul li{
    line-height: 35px;
}

@media (max-width:800px){
  .BlogContainer{
    margin:150px 60px;
  }
}

@media (max-width:400px){
  .BlogContainer{
    margin:150px 30px;
  }
}

/*--------- Blogs FAQ -------------*/

.accordion {
  display: flex;
  flex-direction: column;
  font-family: "Sora", sans-serif;
  max-width: 991px;
  min-width: 320px;
  margin: 50px auto;
  padding: 0 50px;
}

.accordion h2 {
  font-size: 40px;
  text-align: center;
  color: #ff6600;
  margin-bottom: 15px;
}

.accordionItem {
  margin-top: 16px;
  border: 1px solid #fcfcfc;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.accordionItem .accordionItemTitle {
  position: relative;
  margin: 0;
  display: flex;
  width: 100%;
  font-size: 15px;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 14px 20px;
  box-sizing: border-box;
  align-items: center;
}

.accordionItem .accordionItemDesc {
  display: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #444;
  border-top: 1px dashed #ddd;
  padding: 10px 20px 20px;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 0;
  transition: max-height 2s ease-in-out; /* Add transition property for smooth animation */
}

.accordionItem input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.accordionItem input[type="checkbox"]:checked ~ .accordionItemDesc {
  display: block;
  max-height: 1000px; /* Adjust to a sufficiently large value */
}

.accordionItem input[type="checkbox"]:checked ~ .accordionItemTitle .icon:after {
  content: "-";
  font-size: 20px;
}

.accordionItem input[type="checkbox"] ~ .accordionItemTitle .icon:after {
  content: "+";
  font-size: 20px;
}

.accordionItem:first-child {
  margin-top: 0;
}

.accordionItem .icon {
  margin-left: 14px;
}

@media screen and (max-width: 767px) {
  .accordion {
    padding: 0 16px;
  }

  .accordion h1 {
    font-size: 22px;
  }
}


/* Author Page */

.AuthorPageContainer{
  align-self: center;
   margin-top: 5.5vw;
  margin-left: 3vw;
  display: flex;

  @media screen and (max-width: 767px){
    flex-direction: column;
    align-items: center;
    margin-top: 40%;
  }
}

.Author2Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  gap: 2vw;
}

.AuthorName{
  color: #ff6600;
  font-size:xx-large;
}

.AuthorMainPicture{
  width: 25vw;
  height: 30vw;
  border-radius: 6%;
  border: 1px solid #ff6600;
 
}
